{
  "extends": ["eslint:recommended", "plugin:node/recommended"],
  "plugins": ["node"],
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "no-console": 0,
    "no-extra-parens": 2,
    "node/no-unpublished-require": 0,
  }
}
